.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 100%;
    max-height: 80vh;
    height: 100%;
    object-fit: cover;

}



.hero-content h1 span {
    color: white;
}


.hero-content {
    backdrop-filter: blur(1px);
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(244, 239, 230);
    text-shadow: -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}

@media (max-width:600px) {
    .hero {
        height: 200px;
    }

    .hero-content {
        text-wrap: nowrap;
        font-size: small;
    }
}