.menu {
    padding: 2rem 0;
    background-color: #000;
    color: white;
}

.menu-container {
    max-width: 70%;
    margin: auto;
}

.menu h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.pizzas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pizza {
    width: calc(33% - 2rem);
    margin: 1rem;
}

.pizza img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.pizza img:hover {
    scale: 1.005;
    box-shadow: -10px -15px 52px -20px rgba(255, 255, 255, 0.81);
    -webkit-box-shadow: -10px -15px 52px -20px rgba(255, 255, 255, 0.81);
    -moz-box-shadow: -10px -15px 52px -20px rgba(255, 255, 255, 0.81);
}

.pizza div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-info {
    flex-direction: column;
    align-items: start !important;
}

.add-button {
    background-color: #fff;
    /* White */
    border: none;
    color: #000;
    /* Black */
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover {
    background-color: #eee;
    /* Light gray */
}

@media (max-width: 1200px) {
    .pizza {
        flex-basis: calc(50% - 2rem);
        /* The value of '50%' will create a two-column layout for medium screens */
        max-width: calc(50% - 2rem);
        box-sizing: border-box;
        /* To include padding and border in element's total width and height */
        margin-bottom: 1rem;
        /* To give vertical space between the pizzas */
    }
}

@media (max-width: 600px) {
    .menu-container {
        max-width: 90%;
    }

    .pizza {
        flex-basis: 100%;
        /* The value of '100%' will create a single-column layout for extra small screens */
        max-width: 100%;
    }
}


.read-more {
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .modal h2 {
        font-size: 1.2rem;
    }

    .modal p {
        font-size: 0.8rem;
    }
}


/* Add these styles at the end of your CSS file */

.cart-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    /* padding: 10px; */
    padding-bottom: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.cart-info {
    white-space: nowrap;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: .05px solid wheat;
    margin: auto;
    display: flex;
    align-items: center;
}

.cart-info p {
    /* margin: 0; */
    /* font-size: 1rem; */
    margin-right: 20px;
}

.proceed-to-cart-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.proceed-to-cart-button:hover {
    background-color: #f44336;
}

@media (max-width: 768px) {
    .cart-bar {
        /* padding: 10px 20px; */
    }

    .cart-info {
        margin-left: auto;
        align-items: center;
    }

    .cart-info p {
        font-size: smaller;
    }

    .proceed-to-cart-button {
        font-size: smaller;
    }
}