* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* CSS */
.spinner-box {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

.loader::before {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader::after {
  border: 10px solid #ccc;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


.navbar {
  background-color: black;
  justify-content: space-around;
}

.navbar,
.navbar ul,
.logo {
  cursor: pointer;
  transition: 200ms;
  align-items: center;
  display: flex;
}

.shoppingBag {
  color: wheat;
  font-size: x-large;
}

.logo p {
  color: white;
}

.navbar ul li {
  padding: 10px 20px;
  list-style: none;
  color: wheat;
  cursor: pointer;
}


.cross {
  color: wheat;
  display: none;
  cursor: pointer;
}

.openMenu {
  user-select: none;
  color: wheat;
  font-size: x-large;
  cursor: pointer;
  display: none;
}

ul li:nth-child(4) a {
  text-decoration: none;
  color: black;
}

ul li:nth-child(4) {
  padding: 5px 20px;
  background-color: white;
  border-radius: 30px;
  margin: 5px auto;
  color: black;
}


@media (max-width:600px) {
  .close {
    translate: 0% !important;
  }

  .open {
    translate: 100% !important;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 15px;
  }

  ul {
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: black;
    flex-direction: column;
    position: absolute;
    align-items: start !important;
    height: 100vh;
    translate: 0%;
    width: 50%;
    top: 0;
    right: 100%;
    z-index: 1;
  }

  ul li {
    box-shadow: rgb(255, 255, 255) 0px 1px 4px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 10px;
    margin-left: 8px !important;
    width: 50%;
    margin: 5px auto;
    /* border-top: 1px solid wheat;
    border-bottom: 1px solid wheat; */
  }



  .cross {
    user-select: none;
    top: 12px;
    border: 2px solid wheat;
    border-radius: 5px;
    font-size: x-large;
    translate: 40vw;
    position: absolute;
    display: block;
  }

  .openMenu {
    display: block;
  }
}




/* test */

.cart {
  max-width: 800px;
  margin: 10px auto 0 auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-info {
  flex-grow: 1;
  margin-left: 1rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.pizza-img {
  border-radius: 10px;
  width: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #212529;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  cursor: pointer;
}

.quantity-controls button:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quantity-controls button:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quantity-controls span {
  padding: 0 .5rem;
}

.checkout-button {
  color: wheat;
  cursor: pointer;
  border: none;
  background-color: #000;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: rgba(0, 0, 0, 0.911);
}


@media (max-width:600px) {
  .cart {
    padding: 10px 15px;
  }
}